<%- include('../partials/header') %>
  <h1 class="text-center">Reviews</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Feedback For</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% requestedFeedback.forEach((feedback, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= feedback.for.username %></td>
        <td>
          <% if(feedback.text){ %>
            <button class="btn btn-primary disabled">Submitted</button>
          <% }else{ %>
            <a class="btn btn-success" href="/feedbacks/<%= feedback._id %>/add">Add</a>
          <% } %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
<%- include("../partials/footer") %>
