<%- include('../partials/header') %>
  <h1 class="text-center">Users</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach((user) => { %>
        <% if(user.username != currentUser.username){%>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.username %></td>
            <td><%= user.isAdmin ? "Admin" : "Employee" %></td>
            <% if(currentUser != user){ %>
              <td>
                <form action="/users/<%= user._id %>" method="post">
                    <input type="hidden" name="isAdmin" value="<%= !user.isAdmin %>">
                    <input type="submit" class="btn <%= user.isAdmin ? 'btn-warning' : 'btn-primary' %>" value="<%= user.isAdmin ? 'Make Employee' : 'Make Admin' %>">
                </form>
                <form action="/users/<%= user._id %>/delete" method="post">
                  <input type="hidden" name="isAdmin" value="<%= !user.isAdmin %>">
                  <input type="submit" class="btn btn-danger" value="Delete">
              </form>
            </td>
              <% } %>
          </tr>
        <% } %>
      <% }) %>
    </tbody>
  </table>
<%- include("../partials/footer") %>
